<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjry.pms.bonus.mapper.PmsDeptSortDetailMapper">
    
    <resultMap type="PmsDeptSortDetail" id="PmsDeptSortDetailResult">
        <result property="id"    column="ID"    />
        <result property="sortCode"    column="SORT_CODE"    />
        <result property="sortName"    column="SORT_NAME"    />
        <result property="editAllow"    column="EDIT_ALLOW"    />
        <result property="compCode"    column="COMP_CODE"    />
        <result property="accountCode"    column="ACCOUNT_CODE"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="REMARK"    />
    </resultMap>

    <sql id="selectPmsDeptSortDetailVo">
        select ID, SORT_CODE, SORT_NAME, EDIT_ALLOW, COMP_CODE, ACCOUNT_CODE, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK from pms_dept_sort_detail
    </sql>

    <select id="selectPmsDeptSortDetailList" parameterType="PmsDeptSortDetail" resultMap="PmsDeptSortDetailResult">
        <include refid="selectPmsDeptSortDetailVo"/>
        <where>  
        AND del_flag = ${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_NORMAL} 
            <if test="sortCode != null  and sortCode != ''"> and SORT_CODE = #{sortCode}</if>
            <if test="sortName != null  and sortName != ''"> and SORT_NAME like concat('%', #{sortName}, '%')</if>
            <if test="compCode != null  and compCode != ''"> and COMP_CODE = #{compCode}</if>
            <if test="delFlag != null  and delFlag != ''"> and DEL_FLAG = #{delFlag}</if>
            <if test="createBy != null  and createBy != ''"> and CREATE_BY = #{createBy}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and UPDATE_BY = #{updateBy}</if>
            <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
            <if test="remark != null  and remark != ''"> and REMARK = #{remark}</if>
        </where>
        ORDER BY SORT_CODE ASC,UPDATE_TIME DESC
    </select>
    
    <select id="selectPmsDeptSortDetailById" parameterType="Long" resultMap="PmsDeptSortDetailResult">
        <include refid="selectPmsDeptSortDetailVo"/>
        where del_flag=${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_NORMAL} AND ID = #{id}
    </select>
        
    <insert id="insertPmsDeptSortDetail" parameterType="PmsDeptSortDetail" useGeneratedKeys="true" keyProperty="id">
        insert into pms_dept_sort_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sortCode != null">SORT_CODE,</if>
            <if test="sortName != null">SORT_NAME,</if>
            <if test="editAllow != null">EDIT_ALLOW,</if>
            <if test="compCode != null">COMP_CODE,</if>
            <if test="accountCode != null">ACCOUNT_CODE,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sortCode != null">#{sortCode},</if>
            <if test="sortName != null">#{sortName},</if>
            <if test="editAllow != null">#{editAllow},</if>
            <if test="compCode != null">#{compCode},</if>
            <if test="accountCode != null">#{accountCode},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePmsDeptSortDetail" parameterType="PmsDeptSortDetail">
        update pms_dept_sort_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="sortCode != null">SORT_CODE = #{sortCode},</if>
            <if test="sortName != null">SORT_NAME = #{sortName},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null">REMARK = #{remark},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deletePmsDeptSortDetailById" parameterType="Long">
        update pms_dept_sort_detail set del_flag=${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_DELETE} where ID = #{id}
    </delete>

    <delete id="deletePmsDeptSortDetailByIds" parameterType="String">
        DELETE d FROM pms_dept_sort_detail d WHERE d.id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND d.edit_allow = ${@com.zjry.pms.bonus.domain.PmsDeptSortDetail@EDIT_ALLOW_YES}
        AND NOT EXISTS (SELECT id FROM pms_dept_sort s WHERE s.sort_code = d.sort_code LIMIT 1)
    </delete>
</mapper>