<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjry.pms.project.mapper.CostProjectDeptMapper">

    <resultMap type="CostProjectDept" id="CostProjectDeptResult">
        <result property="id" column="ID"/>
        <result property="compCode" column="COMP_CODE"/>
        <result property="accountCode" column="ACCOUNT_CODE"/>
        <result property="projectCode" column="PROJECT_CODE"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="delFlag" column="DEL_FLAG"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="remark" column="REMARK"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="parentProject" column="PARENT_PROJECT"/>
        <result property="projectLevel" column="PROJECT_LEVEL"/>
        <result property="projectType" column="PROJECT_TYPE"/>
        <result property="costProperty" column="COST_PROPERTY"/>
        <result property="isControl" column="IS_CONTROL"/>
        <result property="isAccount" column="IS_ACCOUNT"/>
        <result property="isCostCapital" column="IS_COST_CAPITAL"/>
        <result property="isCostHealth" column="IS_COST_HEALTH"/>
        <result property="isCostCalculate" column="IS_COST_CALCULATE"/>
        <result property="costScheme" column="COST_SCHEME"/>
    </resultMap>

    <sql id="selectCostProjectDeptVo">
        select ID, COMP_CODE, ACCOUNT_CODE, PROJECT_CODE, DEPT_CODE, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK from cost_project_dept
    </sql>

    <select id="selectCostProjectDeptList" parameterType="CostProjectDept" resultMap="CostProjectDeptResult">
        <include refid="selectCostProjectDeptVo"/>
        <where>
            AND del_flag = ${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_NORMAL}
            <if test="compCode != null ">and COMP_CODE = #{compCode}</if>
            <if test="accountCode != null  and accountCode != ''">and ACCOUNT_CODE = #{accountCode}</if>
            <if test="projectCode != null  and projectCode != ''">and PROJECT_CODE = #{projectCode}</if>
            <if test="deptCode != null ">and DEPT_CODE = #{deptCode}</if>
        </where>
        order by update_time desc
    </select>


    <select id="selectForDept" parameterType="CostProjectDept" resultMap="CostProjectDeptResult">
        SELECT
        a.ID,
        a.COMP_CODE,
        a.ACCOUNT_CODE,
        a.PROJECT_CODE,
        a.DEPT_CODE,
        b.PROJECT_NAME,
        b.PARENT_PROJECT,
        b.PROJECT_LEVEL,
        b.PROJECT_TYPE,
        b.COST_PROPERTY,
        b.IS_CONTROL,
        b.IS_ACCOUNT,
        b.IS_COST_CAPITAL,
        b.IS_COST_HEALTH,
        b.IS_COST_CALCULATE,
        b.COST_SCHEME
        FROM
        cost_project_dept a
        LEFT JOIN cost_project b ON a.PROJECT_CODE = b.PROJECT_CODE AND b.DEL_FLAG = 0
        <where>
            AND a.DEL_FLAG =0 and b.IS_LAST = 0
            <if test="compCode != null ">and a.COMP_CODE = #{compCode}</if>
            <if test="accountCode != null  and accountCode != ''">and a.ACCOUNT_CODE = #{accountCode}</if>
            <if test="projectCode != null  and projectCode != ''">and a.PROJECT_CODE = #{projectCode}</if>
            <if test="deptCode != null ">and a.DEPT_CODE = #{deptCode}</if>
            <if test="queryString != null  and queryString != ''">
                and (b.PROJECT_NAME like concat('%', #{queryString}, '%')
                or b.PROJECT_CODE like concat('%', #{queryString}, '%')) </if>
        </where>
        order by a.update_time desc
    </select>

    <select id="selectCostProjectDeptById" parameterType="Long" resultMap="CostProjectDeptResult">
        <include refid="selectCostProjectDeptVo"/>
        where del_flag=${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_NORMAL} AND ID = #{id}
    </select>

    <insert id="insertCostProjectDept" parameterType="CostProjectDept" useGeneratedKeys="true" keyProperty="id">
        insert into cost_project_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="compCode != null">COMP_CODE,</if>
            <if test="accountCode != null">ACCOUNT_CODE,</if>
            <if test="projectCode != null">PROJECT_CODE,</if>
            <if test="deptCode != null">DEPT_CODE,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="compCode != null">#{compCode},</if>
            <if test="accountCode != null">#{accountCode},</if>
            <if test="projectCode != null">#{projectCode},</if>
            <if test="deptCode != null">#{deptCode},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCostProjectDept" parameterType="CostProjectDept">
        update cost_project_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="compCode != null">COMP_CODE = #{compCode},</if>
            <if test="accountCode != null">ACCOUNT_CODE = #{accountCode},</if>
            <if test="projectCode != null">PROJECT_CODE = #{projectCode},</if>
            <if test="deptCode != null">DEPT_CODE = #{deptCode},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null">REMARK = #{remark},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteCostProjectDeptById" parameterType="Long">
        update cost_project_dept set del_flag=${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_DELETE} where ID = #{id}
    </delete>

    <delete id="deleteCostProjectDeptByProjectCode" parameterType="String">
        delete from cost_project_dept where project_code = #{projectCode}
    </delete>

    <delete id="deleteCostProjectDeptByIds" parameterType="String">
        update cost_project_dept set del_flag=${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_DELETE} where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>