<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjry.pms.project.mapper.CostProjectNumSqlMapper">
    
    <resultMap type="CostProjectNumSql" id="CostProjectNumSqlResult">
        <result property="id"    column="ID"    />
        <result property="compCode"    column="COMP_CODE"    />
        <result property="accountCode"    column="ACCOUNT_CODE"    />
        <result property="numSql"    column="NUM_SQL"    />
        <result property="sqlType"    column="SQL_TYPE"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="REMARK"    />
    </resultMap>

    <sql id="selectCostProjectNumSqlVo">
        select ID, COMP_CODE, ACCOUNT_CODE, NUM_SQL, SQL_TYPE, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK from cost_project_num_sql
    </sql>

    <select id="selectCostProjectNumSqlList" parameterType="CostProjectNumSql" resultMap="CostProjectNumSqlResult">
        <include refid="selectCostProjectNumSqlVo"/>
        <where>  
        AND del_flag = ${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_NORMAL} 
            <if test="compCode != null "> and COMP_CODE = #{compCode}</if>
            <if test="accountCode != null  and accountCode != ''"> and ACCOUNT_CODE = #{accountCode}</if>
            <if test="numSql != null  and numSql != ''"> and NUM_SQL = #{numSql}</if>
            <if test="sqlType != null  and sqlType != ''"> and SQL_TYPE = #{sqlType}</if>
        </where>
        order by update_time desc
    </select>
    
    <select id="selectCostProjectNumSqlById" parameterType="Long" resultMap="CostProjectNumSqlResult">
        <include refid="selectCostProjectNumSqlVo"/>
        where del_flag=${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_NORMAL} AND ID = #{id}
    </select>
        
    <insert id="insertCostProjectNumSql" parameterType="CostProjectNumSql" useGeneratedKeys="true" keyProperty="id">
        insert into cost_project_num_sql
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="compCode != null">COMP_CODE,</if>
            <if test="accountCode != null">ACCOUNT_CODE,</if>
            <if test="numSql != null">NUM_SQL,</if>
            <if test="sqlType != null">SQL_TYPE,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="compCode != null">#{compCode},</if>
            <if test="accountCode != null">#{accountCode},</if>
            <if test="numSql != null">#{numSql},</if>
            <if test="sqlType != null">#{sqlType},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCostProjectNumSql" parameterType="CostProjectNumSql">
        update cost_project_num_sql
        <trim prefix="SET" suffixOverrides=",">
            <if test="compCode != null">COMP_CODE = #{compCode},</if>
            <if test="accountCode != null">ACCOUNT_CODE = #{accountCode},</if>
            <if test="numSql != null">NUM_SQL = #{numSql},</if>
            <if test="sqlType != null">SQL_TYPE = #{sqlType},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null">REMARK = #{remark},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteCostProjectNumSqlById" parameterType="Long">
        update cost_project_num_sql set del_flag=${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_DELETE} where ID = #{id}
    </delete>

    <delete id="deleteCostProjectNumSqlByIds" parameterType="String">
        update cost_project_num_sql set del_flag=${@com.zjry.common.core.domain.BaseEntity@DEL_FLAG_DELETE} where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>